# Core dependencies
numpy
pandas
matplotlib
seaborn

# UI and interaction
ipywidgets==7.7.1
ipython

# File handling
pathlib
requests
gdown

# Specialized libraries
prody==2.4.1         # For protein structure analysis
pyfastx==2.2.0      # For FASTA processing
# A specific version of pymol-open-source is being installed the ipywidget-based GUI

# Optional but recommended
biopython==1.79  # Required by some dependencies
